<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h1 aligb>Bem vindo: {{ request.user.username }}</h1>
        <a href="{% url 'ConfiguracaoConta' username=request.user.username %}" class="btn btn-outline-light">
                <i class="bi bi-person"></i>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-3 p-3">
        {% for jogo in jogos %}
        <div class="col">
            <div class="card bg-dark text-white h-100">
                <img src="{{ jogo.img_capa }}" class="card-img-top" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ jogo.titulo }}</h5>
                    <p class="card-text text-secondary">{{ jogo.genero }}</p>
                    <a href="{% url 'Info_Jogo' jogo.id %}" class="btn btn-outline-light btn-sm w-100">Ver jogo</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>